.MuiNativeSelect-icon {
  color: white !important;
}
.MuiIconButton-root {
  opacity: 0.74;
  transition-property: opacity;
  transition-duration: 600ms;
  transition-timing-function: ease-in;
}

.MuiIconButton-root:hover,
.MuiIconButton-root:focus {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 600ms;
  transition-timing-function: ease-in;
}
.MuiNativeSelect-select option {
  color: #333333;
}
