@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html {
  min-width: 500px;
}

body {
  margin: 0;
  text-align: center;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}
